@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: "Infra";
  font-weight: 400;
  src: url(/assets/fonts/infra/regular.woff);
}

@font-face {
  font-family: "Infra";
  font-weight: 500;
  src: url(/assets/fonts/infra/medium.woff);
}

@font-face {
  font-family: "Infra";
  font-weight: 600;
  src: url(/assets/fonts/infra/semiBold.woff);
}

@font-face {
  font-family: "Infra";
  font-weight: 700;
  font-style: normal;
  src: url(/assets/fonts/infra/bold.woff);
}

@font-face {
  font-family: "Infra";
  font-weight: 700;
  font-style: italic;
  src: url(/assets/fonts/infra/boldItalic.woff);
}

.bg-gradient {
  background: url("/assets/images/bg-gradient.jpg");
}

body {
  font-family: "Infra";
}

h1 {
  @apply text-3xl;
  @apply font-bold;
}

h2 {
  @apply text-2xl;
  @apply font-normal;
}

a {
  @apply underline;
}

a:hover {
  @apply no-underline;
}

input,
textarea {
  @apply p-1;
}
